@import 'style/variables';
@import 'style/mixins';

.button {
  @include button-color(invert($primary, 100%), $primary);

  padding: 0.5rem;
  border-width: 0.2rem;
  border-style: solid;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 800;

  &__secondary {
    @include button-color(invert($secondary, 100%), $secondary);
  }

  &__warning {
    @include button-color(invert($warning, 100%), $warning);
  }

  &__error {
    @include button-color(invert($error, 100%), $error);
  }

  &__info {
    @include button-color(invert($info, 100%), $info);
  }
}
